/* Alex Brush */
@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

/* Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Questrial */
@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  scroll-behavior: smooth;
  scroll-padding-top: 84px;
}

.alex_brush {
  font-family: "Alex Brush", cursive;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.questrial {
  font-family: "Questrial", sans-serif;
}

.for_btn {
  border-radius: 10px;
  background: var(--Color, linear-gradient(180deg, #15b9b9 0%, #3c1dff 100%));
}

.btn_grad {
  border-radius: 50px;
  background: linear-gradient(90deg, #3c1dff 18.63%, #14c9c9 78.88%);
}

.icon_bg {
  width: 56.14px;
  height: 56.14px;
  /* fill: var(--Color, linear-gradient(180deg, #15b9b9 0%, #3c1dff 100%)); */
  background: linear-gradient(180deg, #15b9b9 0%, #3c1dff 100%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .header { */
  /* transform: translateZ(0); */
  /* -webkit-backdrop-filter: saturate(180%) blur(5px); */
  /* backdrop-filter: saturate(180%) blur(5px); */
  /* background: hsla(0, 0%, 100%, 0.8); */
/* } */



/* For Menu mobile size */

.burger_menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cols {
  width: 40px;
  height: 4px;
}

.clicked:nth-child(1) {
  transform: rotate(48.5deg) translate(7px, 13px);
  transition: all 0.5s;
}
.clicked:nth-child(2) {
  transform: scale(0);
  transition: all 0.5s;
}
.clicked:nth-child(3) {
  transform: rotate(-48.5deg) translate(8px, -12.5px);
  transition: all 0.5s;
}

.unclicked:nth-child(1) {
  transform: rotate(0) translate(0);
  transition: all 0.5s;
}

.unclicked:nth-child(2) {
  transform: scale(1);
  transition: all 0.5s;
}

.unclicked:nth-child(3) {
  transform: rotate(0) translate(0);
  transition: all 0.5s;
}

.menu_for_mobile_size {
  transition: all 0.5s;
}

.links_visible {
  width: 100%;
  animation: animate 0.5s 0s;
}

@keyframes animate {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }

  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

.links_hidden {
  animation: disappear 0.5s 0s forwards;
}

@keyframes disappear {
  from {
    transform: translateY(0px);
    opacity: 1;
  }

  to {
    transform: translateY(-20px);
    opacity: 0;
    display: none;
  }
}

.img_s_1 img {
  border: 5px inset #ffffff4d;
}

.img_s_2 img {
  border: 5px outset #ffffff4d;
}

.block_of_contacts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}